<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

  <body>
    <section id="navigation">
      <nav class="navbar navbar-expand-sm bg-transparent navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="athena_white.png" width="50px" alt="Athena"></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <!-- <a class="nav-link" href="https://athenatkmce.live">Athena</a> -->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="ca/register">Register</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>  
    </section>

    <div class="container-fluid px-4 px-md-5">
      <section id="first">
        <div class="particlehead" style="position: absolute"></div>

        <div class="row mx-auto text-center">
          <h1 class="mx-auto text-uppercase h-font">
            <span>A</span>then<span>A</span>
          </h1>
        </div>
        <div class="row mx-auto text-center">
          <h3 class="mx-auto text-uppercase h-font">campus ambassador</h3>
        </div>
        <div class="row mx-auto">
          <button class="btn mx-auto" onclick="window.location='ca/register'">register</button>
        </div>
      </section>

      <section id="what-is-athena">
        <div class="row mx-auto h-font text-center">
          <h3 class="mx-auto text-uppercase">
            <span style="color: #FB2576">About</span> Athena
          </h3>
        </div>

        <div class="row mx-auto pt-5 pb-5">
          <div class="col-md-6 mx-auto p-0 text-justify">
            <p class="text-justify">
              <span
                style="color: #FB2576; font-size: larger; font-weight: bolder"
              >
                Athena
              </span>
              is the annual technical fest of ISTE Students Chapter TKMCE.
              Athena provides a manifesto of opportunities to showcase and
              enrich young talents and transforms their creativity into reality.
            </p>

            <div class="row mx-auto">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                   
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-50 mx-auto" src="./assets/img/athena.png" alt="First slide">
                      </div>
                      
                    </div>
  
                  </div>
            </div>
          </div>
        </div>
      </section>

      <section id="responsibility" class="mb-5">
        <div class="row mx-auto text-center">
          <h3 class="mx-auto text-uppercase h-font">
            <span style="color: #FB2576">responsibilities</span> of athena
            campus ambassador
          </h3>
        </div>
        <div class="in-responsibility mx-auto pt-5">
          <div class="row1">
            <h5>Represent</h5>
            <p>Be the face of Athena'23 in your college.</p>
          </div>

          <div class="row2">
            <h5>Publicize</h5>
            <p>Promote all posters and related details to the students.</p>
          </div>
          <div class="row3">
            <h5>Inspire</h5>
            <p>Encouraging the students to participate in the events.</p>
          </div>

          <div class="row4">
            <h5>Link</h5>

            <p>Be the primary contact between Athena'23 and the students</p>
          </div>
        </div>
      </section>

      <section id="benefits" class="mb-5">
        <div class="row mx-auto text-center">
          <h3 class="mx-auto text-uppercase h-font" style="color:#FB2576;">benefits</h3>
        </div>

        <div class=" mt-4 in-benefits">
          <div class="card mx-auto">
            <div class="card-body row flex-row-reverse">
              <div class="card-title col-9">
                Exciting <span style="color:#FB2576;">goodies</span> and <span style="color:#FB2576;">cash prizes</span> worth 5k.
              </div>
              <div class="card-text col-3">
                <i class="fa-solid fa-cubes"></i>
              </div>
            </div>
          </div>

          <div class="card mx-auto">
            <div class="card-body row flex-row-reverse">
              <div class="card-title col-9">
                Enhance your <span style="color:#FB2576;">communication</span> and <span style="color:#FB2576;">interpersonal skills.</span>
              </div>
              <div class="card-text col-3">
                <i class="fa-solid fa-tower-cell"></i>
              </div>
            </div>
          </div>
          <div class="card mx-auto">
            <div class="card-body row flex-row-reverse">
              <div class="card-title col-9">
                
                Acquire <span style="color:#FB2576;">certificates</span> promising <span style="color:#FB2576;">activity points</span>
              </div>
              <div class="card-text col-3">
                <i class="fa-solid fa-stamp"></i>
              </div>
            </div>
          </div>
          <div class="card mx-auto">
         
            <div class="card-body row flex-row-reverse">   <div class="card-title col-9">
                Gain <span style="color:#FB2576">experience</span> that can be affixed in your  <span style="color:#FB2576">resume.</span>
            </div>
        
        <div class="card-text col-3">
            <i class="fa-solid fa-earth-americas"></i>
        </div>
        </div>
          </div>
        </div>

       
      </section>

      <section id="faq" class="pb-5">
        <div class="row mx-auto text-center mb-4">
          <h3 class="text-uppercase h-font" style="color:#FB2576">FAQ</h3>
        </div>

        <div class="row">
     <div class="col-md-6 mt-3 ml-auto">
        <div class="card">
            <div class="card-body">
              <div class="card-title my-auto">
                <h5 class="my-auto">Who is a Campus Ambassador?</h5>
              </div>
              <div class="card-text overlay">
                <p>
                  Campus Ambassador is the face of the fest. They represent and
                  publicize the events on their respective colleges.
                </p>
              </div>
            </div>
          </div>
     </div>
     </div>
     <div class="row">
     <div class="col-md-6 mt-3 ms-auto">
        <div class="card">
            <div class="card-body">
              <div class="card-title my-auto">
                <h5 class="my-auto">Who is eligible to apply for CA?</h5>
              </div>
              <div class="card-text overlay">
                <p>
                  Any college student with a valid college student ID Card is
                  eligible to apply for the post.
                </p>
              </div>
            </div>
          </div>
     </div>
     </div>

       
<div class="row">

    <div class="col-md-6 mt-3 ml-auto">
        <div class="card">
            <div class="card-body">
              <div class="card-title my-auto">
                <h5 class="my-auto">How can you apply for the event ?</h5>
              </div>
              <div class="card-text overlay">
                <p>
                  You can be one of the CA representing your college by
                  registering from this portal.Click on to the Register button
                  to initiate registration
                </p>
              </div>
            </div>
          </div>
    </div>

</div>
      
<div class="row">

    <div class="col-md-6 mt-3 ms-auto">
        <div class="card">
            <div class="card-body">
              <div class="card-title my-auto">
                <h5 class="my-auto">Is registration fee required?</h5>
              </div>
              <div class="card-text overlay">
                <p>Of course not ,the event is completely free.</p>
              </div>
            </div>
          </div>
    </div>
</div>
         

<div class="row">
    <div class="col-md-6 mt-3 ml-auto">
        <div class="card">
            <div class="card-body">
              <div class="card-title my-auto">
                <h5 class="my-auto">When are you eliminated from the program?</h5>
              </div>
              <div class="card-text overlay">
                <p>
                  Any participant found involved in malpractices are banned from
                  the event .The decision of the organizing committee will be
                  final.
                </p>
              </div>
            </div>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mt-3 ms-auto">
        <div class="card">
            <div class="card-body">
              <div class="card-title my-auto">
                <h5 class="my-auto">Is it possible for a college to have more than one CA?</h5>
              </div>
              <div class="card-text overlay">
                <p>
                  Yes,we can have more than one college ambassador from a
                  college if there are many registrations.
                </p>
              </div>
            </div>
          </div>
    </div>
</div>
      

         
        </div>
      </section>


    </div>
    <section id="footer">
        <div class="row mx-auto">
            <div class="col-md-4 mx-auto">
                <h5 class="h-font mb-2" style="color:#FB2576">Contacts</h5>
                <p class="text-capitalize">
                    Arjun: 9539590030
                </p>
                <p  class="text-capitalize">
                    Anusree: 9497344576
                </p>
            </div>
            <div class="col-md-4 mx-auto">
                <h5 class="h-font mb-2" style="color:#FB2576">Social media</h5>
              <a href="https://www.linkedin.com/company/istetkmce/" class="text-capitalize p-0"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/accounts/login/?next=/iste_tkmce_" class="text-capitalize p-0" style="margin-left:10px"><i class="fa-brands fa-instagram"></i></a>
              
            </div>
    
            <div class="col-md-4 mx-auto">
                <h5 class="h-font mb-2"style="color:#FB2576">Reach Us</h5>
                <p  class="text-capitalize">TKM College of Engineering, Karicode</p>
                <p  class="text-capitalize">@Athena 2023</p>
            </div>
        </div>
      </section>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.11.4/TweenMax.min.js"></script>
    <script src="//s3-us-west-2.amazonaws.com/s.cdpn.io/40480/OBJLoader.js"></script>
    <script src="./assets/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
